
$pw-btn: #F48787
$pw-pri: #e66e69 // #f48386
$cr: #231E1A
$cr-td: #8f8f8f

$pw-sec: #E3A152

$menu-L: 290px

$pw-br: 5.5px

.pw-pri, .pw-pri_son, .pw-pri_son *
    color: $pw-pri !important
.pw-sec, .pw-sec_son, .pw-sec_son *
    color: $pw-sec !important
    
$pw-tit: #231E1A
.pw-tit, .pw-tit_son, .pw-tit_son *
    color: $pw-tit
$pw-sub: #8f8f8f
.pw-sub, .pw-sub_son, .pw-sub_son *
    color: $pw-sub

.pw-btn-def
    padding: 8px 1.58em
    font-weight: bold
    background: #e2e2e2
    border-radius: $pw-br
.pw-btn-pri
    color: #FFF
    font-weight: normal
    background: #d04a4a

.fs-s
    font-size: 13px

.hand
    cursor: pointer

@import ./pw_input

@import ./user_list
@import ./user_detaii

@import ./pw_iayout


@media screen and ( max-width: 1263px )
    .pw-user-page
        font-size: 13px !important

