$pw-bg: #F4EDE5

.pw-bg
    background: $pw-bg

.pw-form-panner
    min-height: 90vh
    padding: 3.2vw 6.2vw 4.8vw 7.1vw
.pw-empty
    width: 100%
    min-height: 80vh

.pw-btn
    border-radius: $pw-br
    padding: 5px 25px
    border: 1px solid $pw-btn

.udv-header
    font-weight: bolder
    padding-top: 3em
    padding-bottom: 0.32em
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif

.dis_ip
    input
        background: #ece5dd !important